*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 158, 158);
    height: 100vh;
}
.container{
   font-style: italic;
    
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
   
}
.container h1{
    font-weight: 900;
    font-size: 60px;
    color: rgb(92, 67, 67);
}
.container p{
    font-weight: 300;
    font-size: 30px;
    color: rgb(92, 67, 67);
}
.main-content{
    width: 100%;
    height: 300px;
    padding: 40px 50px;
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 0 25px 31px rgb(80, 36, 36);
    margin-top: 30px;
}
#quote{
    text-align: center;
    font-size: 30px;
    color:  rgb(92, 67, 67);
    line-height: 1.5;
}
#writer{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(92, 67, 67);
    text-align: right;
    padding-top: 40px;
    font-size: 25px;
    font-style: italic;
}
.main-content .button-area{
    padding: 50px;

   
}
.main-content .button-area .btn button{
    background-color: rgb(95, 72, 72);
    color: antiquewhite;
    font-size:20px;
    border-radius: 40px ;
    border: rgb(36, 26, 26);
    width: 40%;
    padding: 20px;
    
}
.main-content .button-area .btn button:active{
    background-color:rgb(73, 54, 54);
}